<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frxs.ocean.dao.partner.PartnerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.frxs.ocean.domain.dto.partner.Partner">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="tmCreate" property="tmCreate" />
        <result column="tmSmp" property="tmSmp" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
