<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frxs.ocean.dao.partner.apiconfig.PartnerApiConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.frxs.ocean.domain.dto.partner.apiconfig.PartnerApiConfig">
        <id column="id" property="id" />
        <result column="partnerId" property="partnerId" />
        <result column="protocalType" property="protocalType" />
        <result column="url" property="url" />
        <result column="islimited" property="islimited" />
        <result column="limitCount" property="limitCount" />
        <result column="limitPeriod" property="limitPeriod" />
        <result column="createTime" property="createTime" />
        <result column="lastModify" property="lastModify" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
