<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frxs.ocean.dao.mapper.ScriptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.frxs.ocean.domain.dto.script.Script">
        <id column="id" property="id" />
        <result column="scriptType" property="scriptType" />
        <result column="scriptUrl" property="scriptUrl" />
        <result column="createTime" property="createTime" />
        <result column="lastModify" property="lastModify" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
